<h3>Basic List</h3>

<ul>
{{#each user in info}}
<li>{{user}}</li>
{{/each}}
</ul>

<h3>Teams</h3>
{{#if users.isLoaded}}
    <ul>
        {{#each user in users}}
        {{#linkTo "user" user}}
    <p> {{user.email}} </p>
        {{/linkTo}}
        {{/each}}
    </ul>
{{else}}
    <p class="loading">...Loading teams</p>
{{/if}}